<!--begin::Sidebar-->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
<!--begin::Sidebar Brand (logo)-->
<div class="sidebar-brand text-center">
    <!--begin::Brand Link-->
    <a href="https://www.raspberrypi.org/" class="brand-link d-flex align-items-center justify-content-center gap-2 py-3">
    <!--begin::Brand Image-->
    <img
        src="../static/assets/img/raspberrypi_logo.png"
        alt="Raspberry Pi Logo"
        class="brand-image opacity-75 shadow"
        style="height: 32px;"
    />
    <!--end::Brand Image-->
    <!--begin::Brand Text-->
    <span class="brand-text fw-light" style="font-family: 'Orbitron', sans-serif;">&nbsp;Raspberry Pi&nbsp;&nbsp;&nbsp;</span>
    <!--end::Brand Text-->
    </a>
    <!--end::Brand Link-->
</div>

<!--end::Sidebar Brand-->

<!--begin::Sidebar Wrapper-->
<div class="sidebar-wrapper">
    <nav class="mt-2">
    <!--begin::Sidebar Menu-->
    <ul
        class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        role="navigation"
        aria-label="Main navigation"
        data-accordion="false"
        id="navigation"
    >
        <li class="nav-header">MONITORING</li>

        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="nav-icon bi bi-speedometer"></i>
                <p>System</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/history" class="nav-link">
                <i class="nav-icon bi bi-database-gear"></i>
                <p>History</p>
            </a>
        </li>
        
        <li class="nav-header">DOCUMENTATIONS</li>
        <li class="nav-item">
            <a href="https://www.raspberrypi.com/documentation/computers/raspberry-pi.html" class="nav-link">
                <i class="nav-icon bi bi-download"></i>
                <p>Hardware</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://www.researchgate.net/publication/351755761/figure/fig2/AS:11431281371584421@1744376427656/Schematic-zoom-of-the-Raspberry-Pi-3-B-pins-Adapted-from-14.tif" class="nav-link">
                <i class="nav-icon bi bi-table"></i>
                <p>Pins</p>
            </a>
        </li>
    </ul>
    <!--end::Sidebar Menu-->

    </nav>
</div>
<!--end::Sidebar Wrapper-->
</aside>
<!--end::Sidebar-->
